<app-header></app-header>
<section class="linkpage-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6 col-8">
        <div class="linkepage-title full100">
          <h4>Bonds</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- US Market section -->
<section class="linkpage-content relative pb-5">
  <div class="container">
    <div class="row">
      <!-- market table area -->
      <div class="col-xl-12 col-lg-12">
        <h3 class="content-title mb-5 mt-5 text-center">
          Bonds
        </h3>
        <div class="linkpage-table">
          <table class="table table-responsive 
          table-striped">
            <thead class="greenbg">
              <tr>
                <th>Issuer Name 1</th>
                <th>ISIN Code</th>
                <th>Bond Yield</th>
                <th>Currency</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
              <tr>
                <td>AB Inbev</td>
                <td>BE6276040431</td>
                <td>5345</td>
                <td>EUR</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>