<header class="header relative">
    <div class="container">
        <div class="row">
            <!--logo area -->
            <div class="col-md-3 logo-area">
                <a routerLink="">
                    <img src="./assets/img/logo-white.png" alt="logo img" />
                </a>
            </div>
            <!-- menu area -->
            <div class="col-md-9 col-sm-12">
                <div class="menu-area">
                    <a class="header-search m-search">
                        <i class="fa fa-search"></i>
                    </a>
                    <a class="mobile-toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                    <nav class="menu pull-right full100">
                        <ul>
                            <li><a routerLink="/forex">Forex</a>|</li>
                            <li><a routerLink="/bonds">Bonds</a>|</li>
                            <li><a routerLink="/jamaica-market">US Market</a>|</li>
                            <li><a routerLink="/jamaica-market">Jam Market</a>|</li>
                            <li>
                                <a href="#">Explore <span class="arrow-down"></span>
                                </a>|
                                <ul>
                                    <li><a routerLink="/login">Initial Public Offering</a></li>
                                    <li><a routerLink="/login">Research</a></li>
                                </ul>
                            </li>
                            <li class="h-search">
                                <a class="header-search">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- header search bar -->
                        <div class="search-togglebody">
                            <div class="traingle-user"></div>
                            <div class="hs-body">
                                <form class="search" method="post" action="index.html" >
                                     <input type="search" name="q" placeholder="Search here...." />
                                     <ul class="results">
                                         <li>
                                             <a href="#">
                                                 <div class="search-left">
                                                     <span>alto</span>
                                                 </div>
                                                 <div class="search-content">
                                                     <h4> Ames National Corporation </h4>
                                                     <span> Nasdaq </span>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#">
                                                 <div class="search-left">
                                                     <span>alto</span>
                                                 </div>
                                                 <div class="search-content">
                                                     <h4> Ames National Corporation </h4>
                                                     <span> Nasdaq </span>
                                                 </div>
                                             </a>
                                         </li>
                                     </ul>
                                     <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                                 </form>
                            </div>
                        </div>
                    <!-- menu bottom linebar -->	
                    <div class="menulinebar full100"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="slider-search-area full100">
                    <h2>LOOKING FOR SOMETHING?</h2>
                    <form class="slider-search" method="post" action="index.html" >
                        <input type="search" name="q" placeholder="Search here...." />
                        <ul class="results">
                            <li>
                                <a href="#">
                                    <div class="search-left">
                                        <span>alto</span>
                                    </div>
                                    <div class="search-content">
                                        <h4> Ames National Corporation </h4>
                                        <span> Nasdaq </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <button class="slider-search-btn" type="button"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-5 globe-area">
                <img src="./assets/img/globe3.svg" alt="glog img" />
            </div>
        </div>
    </div>
</section>

<!-- top performers and signsignup -->
<section class="topperformers-signsignup relative">
    <div class="container">
        <div class="row">
            <!-- top performers area -->
            <div class="col-lg-8 performers-area">
                <h1>Top Performers:</h1>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="performers-box">
                                        <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                                        <h5>Vol: 1132340</h5>
                                        <span class="realtime">real time: 2018-07-22 08:16:19</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="performers-box">
                                        <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                                        <h5>Vol: 1132340</h5>
                                        <span class="realtime">real time: 2018-07-22 08:16:19</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="performers-box">
                                        <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                                        <h5>Vol: 1132340</h5>
                                        <span class="realtime">real time: 2018-07-22 08:16:19</span>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="performers-box">
                                        <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                                        <h5>Vol: 1132340</h5>
                                        <span class="realtime">real time: 2018-07-22 08:16:19</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="performers-box">
                                        <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                                        <h5>Vol: 1132340</h5>
                                        <span class="realtime">real time: 2018-07-22 08:16:19</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="performers-box">
                                        <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                                        <h5>Vol: 1132340</h5>
                                        <span class="realtime">real time: 2018-07-22 08:16:19</span>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <i class="fas fa-caret-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <i class="fas fa-caret-right"></i>
                    </a>
                </div>

                <!-- right linebar -->
                <div class="linebar"></div>
            </div>

            <!--login and signup area-->
            <div class="col-lg-4">
                <div class="homesignin-area">
                    <h4>Start your Journey Now</h4>
                    <button type="button" routerLink="/register" class="button join-btn"><i class="fas fa-sign-in-alt"></i> Join</button>
                    <button type="button" routerLink="/login" class="button login-btn"><i class="fas fa-lock"></i> Login</button>
                </div>
            </div>	
        </div>

        <div class="section-linebar mt-5 full100"></div>

    </div>
</section>

<!-- US Market section -->
<section class="us-market-section full100 mt-2 mb-2">
    <div class="container">
        <div class="row">
            <!-- market left side -->
            <div class="col-xl-6 col-lg-5">
                <img src="./assets/img/us-market.svg" alt="us img" />
            </div>
            <!-- market table area -->
            <div class="col-xl-6 col-lg-7">
                <h3 class="us-title mt-5 mb-3 pt-5 text-center">Us Market</h3>
                <div class="usmarket-table relative">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Us</th>
                                <th>Europe</th>
                                <th>Asia</th>
                                <th>Fx</th>
                                <th>Rates</th>
                                <th>Futures</th>
                                <th>Cryps</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">Dow</td>
                                <td>34,454444</td>
                                <td>55.53</td>
                                <td>.22% <i class="fas fa-caret-up"></i></td>
                            </tr>
                            <tr>
                                <td colspan="4">Dow</td>
                                <td>34,454444</td>
                                <td>55.53</td>
                                <td>.22% <i class="fas fa-caret-up"></i></td>
                            </tr>
                            <tr>
                                <td colspan="4">Dow</td>
                                <td>34,454444</td>
                                <td>55.53</td>
                                <td>.22% <i class="fas fa-caret-up"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a href="#" class="button lbtn-xs mt-4 readmore-btn">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <!-- bottom devided -->
        <div class="section-linebar mb-4"></div>
    </div>
</section>

<!-- US Market section -->
<section class="us-market-section full100 mt-2 mb-5">
    <div class="container">
        <div class="row">
            <!-- market table area -->
            <div class="col-xl-6 col-lg-7">
                <h3 class="us-title mt-5 mb-3 pt-5 text-center">Jamaikan Market</h3>
                <!-- market table area -->
                <div class="usmarket-table relative">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Us</th>
                                <th>Europe</th>
                                <th>Asia</th>
                                <th>Fx</th>
                                <th>Rates</th>
                                <th>Futures</th>
                                <th>Cryps</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">Dow</td>
                                <td>34,454444</td>
                                <td>55.53</td>
                                <td>.22% <i class="fas fa-caret-up"></i></td>
                            </tr>
                            <tr>
                                <td colspan="4">Dow</td>
                                <td>34,454444</td>
                                <td>55.53</td>
                                <td>.22% <i class="fas fa-caret-up"></i></td>
                            </tr>
                            <tr>
                                <td colspan="4">Dow</td>
                                <td>34,454444</td>
                                <td>55.53</td>
                                <td>.22% <i class="fas fa-caret-up"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a href="#" class="button lbtn-xs mt-4 readmore-btn">
                        Read More
                    </a>
                </div>
            </div>
            <!-- market right side -->
            <div class="col-xl-6 col-lg-5">
                <img src="./assets/img/jam-market.svg" alt="us img" />
            </div>
        </div>
        <!-- bottom divided -->
        <div class="section-linebar "></div>
    </div>
</section>


<!-- latest market section -->
<section class="latest-section full100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title text-center mb-5 pb-5">
                <h1>Market Trends</h1>
                <span>Know what is going on arroud the market</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="latest-usmarket">
                    <div class="latest-market-inner">
                        <h5>Latest on the US market</h5>
                        <div class="latest-linebar"></div>
                        <ul class="mt-2">
                            <li>
                                <div class="latest-img">
                                    <a href="#">
                                        <img src="./assets/img/l.jpg" alt="latest img" />
                                    </a>
                                </div>
                                <div class="latest-body">
                                    <a href="#">
                                        Singapore Hack Is a Speed Bump for $9 Trillion
                                    </a>
                                    <br>
                                    <span>July 23 2018</span>
                                </div>
                            </li>
                            <li>
                                <div class="latest-img">
                                    <a href="#">
                                        <img src="./assets/img/l.jpg" alt="latest img" />
                                    </a>
                                </div>
                                <div class="latest-body">
                                    <a href="#">
                                        Singapore Hack Is a Speed Bump for $9 Trillion
                                    </a>
                                    <br>
                                    <span>July 23 2018</span>
                                </div>
                            </li>
                            <li>
                                <div class="latest-img">
                                    <a href="#">
                                        <img src="./assets/img/l.jpg" alt="latest img" />
                                    </a>
                                </div>
                                <div class="latest-body">
                                    <a href="#">
                                        Singapore Hack Is a Speed Bump for $9 Trillion
                                    </a>
                                    <br>
                                    <span>July 23 2018</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <img class="latest-usimg" src="./assets/img/us-market.svg" alt="" />
                    <div class="text-center mt-3">
                        <a href="#" class="button lbtn-xs">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="latest-usmarket">
                    <div class="latest-market-inner">
                        <h5>Latest on the Jamaikan market</h5>
                        <div class="latest-linebar full100"></div>
                        <ul class="mt-2">
                            <li>
                                <div class="latest-img">
                                    <a href="#">
                                        <img src="./assets/img/l.jpg" alt="latest img" />
                                    </a>
                                </div>
                                <div class="latest-body">
                                    <a href="#">
                                        Singapore Hack Is a Speed Bump for $9 Trillion
                                    </a>
                                    <br>
                                    <span>July 23 2018</span>
                                </div>
                            </li>
                            <li>
                                <div class="latest-img">
                                    <a href="#">
                                        <img src="./assets/img/l.jpg" alt="latest img" />
                                    </a>
                                </div>
                                <div class="latest-body">
                                    <a href="#">
                                        Singapore Hack Is a Speed Bump for $9 Trillion
                                    </a>
                                    <br>
                                    <span>July 23 2018</span>
                                </div>
                            </li>
                            <li>
                                <div class="latest-img">
                                    <a href="#">
                                        <img src="./assets/img/l.jpg" alt="latest img" />
                                    </a>
                                </div>
                                <div class="latest-body">
                                    <a href="#">
                                        Singapore Hack Is a Speed Bump for $9 Trillion
                                    </a>
                                    <br>
                                    <span>July 23 2018</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <img class="latest-usimg" src="./assets/img/us-market.svg" alt="" />
                    <div class="text-center mt-3">
                        <a href="#" class="button lbtn-xs">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

