<app-header></app-header>
	<section class="linkpage-banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-6 col-8">
					<div class="linkepage-title full100">
						<h4>Jamaica Market</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- US Market section -->
	<section class="linkpage-content relative pb-5">
		<div class="container-fluid">

			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="sector-usmarket full100">
						<div class="sector-market-inner full100">
							<h5>Sector Performances</h5>
							<div class="sector-linebar"></div>
							<ul class="mt-2">
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<span class="sector-right text-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<span class="sector-right text-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
								<li>
									<div class="sector-body">
										<a href="#">
											Telecommunication Services
										</a>
										<br>
										<span class="sector-right">
											1.32% <i class="fas fa-caret-up"></i>
										</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="sector-market-inner mt-3">
							<h5>Watch list</h5>
							<div class="sector-linebar full100"></div>
							<div class="watch-body text-center">
								<img src="./assets/img/icon-watchlist.png" alt="watch img" />
								<h4>Your Watchlist</h4>
								<p>Sign up to StockGitter to save a watchlist for easy access to your favorite stocks</p>
								<a href="#" class="button lbtn-xs">Sign up</a><br>
								<a href="#" class="watch-login">or Login</a>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- market table area -->
				<div class="col-xl-8 col-lg-8 col-md-12 mt-5">
					
					<div class="linkpage-table relative">
						<h3 class="content-title mb-5 mt-4 text-center">
						All JMD Activity
					</h3>
						<table class="table table-responsive 
						table-striped">
							<thead class="greenbg">
								<tr>
									<th>Symbol</th>
									<th>Company Name</th>
									<th>Price</th>
									<th>Change(%)</th>
									<th>Change($)</th>
									<th>Vol.</th>
									<th>Index</th>
									<th>Sector</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
								<tr>
									<td>AB Inbev</td>
									<td>BE6276040431</td>
									<td>5345</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
									<td>EUR</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-md-4 mt-5 pt-1">

					<div class="latest-usmarket full100">
						<div class="latest-market-inner">
							<h5>Latest on the United States Market</h5>
							<div class="latest-linebar"></div>
							<ul class="mt-2">
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
								<li>
									<div class="latest-img">
										<a href="#">
											<img src="./assets/img/l.jpg" alt="latest img" />
										</a>
									</div>
									<div class="latest-body">
										<a href="#">
											Singapore Hack Is a Speed Bump for $9 Trillion
										</a>
										<br>
										<span>July 23 2018</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="text-center mt-3">
							<a href="#" class="button lbtn-xs">More News....</a>
						</div>
					</div>


						<div class="sector-market-inner mt-3">
							<h5>Watch list</h5>
							<div class="sector-linebar full100"></div>
							<div class="watch-body text-center">
								<img src="./assets/img/icon-watchlist.png" alt="watch img" />
								<h4>Your Watchlist</h4>
								<p>Sign up to StockGitter to save a watchlist for easy access to your favorite stocks</p>
								<a href="#" class="button lbtn-xs">Sign up</a><br>
								<a href="#" class="watch-login">or Login</a>

							</div>
						</div>
				</div>
			</div>
		</div>
	</section>