<app-header></app-header>
<section class="linkpage-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6 col-8">
        <div class="linkepage-title full100">
          <h4>Log in</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- US Market section -->
<section class="linkpage-content relative pb-5 pt-5">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="loginsiginup-box">
        <div class="login-area full100">
          <div class="login-title full100">
            <div class="login-title-inner full100">
              <h3 class="text-center">Reset Password</h3>
            </div>
          </div>
          <div class="full100">
            <form>
                <div class="form-group row mt-4">
                  <label class="col-sm-3 col-form-label">
                    Activation Code
                  </label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="Activation Code">
                  </div>	
                </div>
                <div class="form-group row mt-4">
                  <label class="col-sm-3 col-form-label">
                    New Password
                  </label>
                  <div class="col-sm-9">
                    <input type="Password" class="form-control" placeholder="New Password">
                  </div>	
                </div>
                <div class="form-group row mt-4">
                  <div class="col-sm-4 offset-sm-3">
                    <button type="submit" class="button signin-btn lbtn-lgradius">Submit</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>