<app-header></app-header>
<section class="linkpage-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-6 col-8">
        <div class="linkepage-title full100">
          <h4>Forex</h4>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 performers-area linkpage-performers">
        <h2>Top Performers:</h2>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <div class="performers-box">
                      <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                      <h5>Vol: 1132340</h5>
                      <span class="realtime">real time: 2018-07-22 08:16:19</span>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="performers-box">
                      <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                      <h5>Vol: 1132340</h5>
                      <span class="realtime">real time: 2018-07-22 08:16:19</span>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="performers-box">
                      <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                      <h5>Vol: 1132340</h5>
                      <span class="realtime">real time: 2018-07-22 08:16:19</span>
                    </div>
                  </div>
                </div>  
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <div class="performers-box">
                      <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                      <h5>Vol: 1132340</h5>
                      <span class="realtime">real time: 2018-07-22 08:16:19</span>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="performers-box">
                      <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                      <h5>Vol: 1132340</h5>
                      <span class="realtime">real time: 2018-07-22 08:16:19</span>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="performers-box">
                      <h4>FLS <span>$42.16 (-0.71%)</span></h4>
                      <h5>Vol: 1132340</h5>
                      <span class="realtime">real time: 2018-07-22 08:16:19</span>
                    </div>
                  </div>
                </div>  
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <i class="fas fa-caret-left"></i>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <i class="fas fa-caret-right"></i>
          </a>
        </div>

        <!-- right linebar -->
        <!-- <div class="linebar"></div> -->
      </div>
    </div>
  </div>
</section>

<!-- US Market section -->
<section class="linkpage-content relative pb-5">
  <div class="container">
    <div class="row">
      <!-- market table area -->
      <div class="col-xl-12 col-lg-12">
        <h3 class="content-title mb-5 mt-5 text-center">
          Forex and Crypto Currencie
        </h3>
        <div class="linkpage-table">
          <table class="table table-responsive 
          table-striped">
            <thead class="greenbg">
              <tr>
                <th>Trader instrument</th>
                <th>Current price</th>
                <th class="greenicon">
                  <i class="fas fa-caret-up"></i> High
                </th>
                <th class="redicon">
                  <i class="fas fa-caret-down"></i> Low
                </th>
                <th>Gain/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22%</td>
                <td>.22%</td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22%</td>
                <td>.22%</td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
              <tr>
                <td>Dow</td>
                <td>34,454444</td>
                <td>55.53</td>
                <td>.22% </td>
                <td>.22% </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>